{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{% block description %}Zane and Tete recipes for Jasna{% endblock %}" />
  <meta name="keywords" content="{% block keyword %}Recipe, Tete, Zane, Jasna, Django 4{% endblock %}" />
  <meta name="author" content="On sholders of Bootstrap5, Python 3.11, Django4.1, VS Code and many more sources from internet" />

  <meta name="docsearch:language" content="en" />
  <meta name="docsearch:version" content="5.3" />

  <title>{% block title %}Tete · Recipe{% endblock %}</title>

  <script src="{% static 'js/color-modes.js' %}"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <link href="{% static 'css/docs.css' %}" rel="stylesheet" />

  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon/two-macarons.ico' %}" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{% static 'assets/images/favicon/two-macaron-180-180.png' %}" sizes="180x180" />
  <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png" />
  <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png" />
  <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json" />
  <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9" />
  <link rel="icon" href="{% static 'assets/images/favicon/two-macarons.ico' %}" />
  <meta name="theme-color" content="#712cf9" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@getbootstrap" />
  <meta name="twitter:creator" content="@getbootstrap" />
  <meta name="twitter:title" content="Bootstrap" />
  <meta name="twitter:description"
    content="Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins." />
  <meta name="twitter:image" content="/docs/5.3/assets/brand/bootstrap-social.png" />

  <meta property="og:url" content="https://getbootstrap.com/" />
  <meta property="og:title" content="Bootstrap" />
  <meta property="og:description"
    content="Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins." />
  <meta property="og:type" content="website" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1000" />
  <meta property="og:image:height" content="500" />
  <meta property="og:image" content="/docs/5.3/assets/brand/bootstrap-social.png" />

  <script defer src="https://cdn.usefathom.com/script.js" data-site="ITUSEYJG"></script>

  <script async src="https://www.google-analytics.com/analytics.js"></script>

</head>

<body>

  <div class="skippy visually-hidden-focusable overflow-hidden">
    <div class="container-xl">
      <a class="d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
    </div>
  </div>

  <!-- bs5 icons -->
  {% include "celik/includes/_bs5-icons.html" %}

  <!-- header - navigation -->
  {% include "celik/includes/_header.html" %}


  <!--main-->
  
    
    {% block masthead %}    
    {% endblock %}
          

    {% block masthead-followup %}
    {% endblock %}



  <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 text-body-secondary text-decoration-none" href="/"
                    aria-label="Bootstrap">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="d-block me-2"
                        viewBox="0 0 118 94" role="img">
                        <title>Bootstrap</title>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                            fill="currentColor" />
                    </svg>
                    <span class="fs-5">Bootstrap</span>
                </a>
                <ul class="list-unstyled small">
                    <li class="mb-2">
                        Designed and built with all the love in the world by the
                        <a href="/docs/5.3/about/team/">Bootstrap team</a> with the help
                        of
                        <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.
                    </li>
                    <li class="mb-2">
                        Code licensed
                        <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank"
                            rel="license noopener">MIT</a>, docs
                        <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC
                            BY
                            3.0</a>.
                    </li>
                    <li class="mb-2">Currently v5.3.0-alpha1.</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/">Home</a></li>
                    <li class="mb-2"><a href="/docs/5.3/">Docs</a></li>
                    <li class="mb-2"><a href="/docs/5.3/examples/">Examples</a></li>
                    <li class="mb-2">
                        <a href="https://icons.getbootstrap.com/">Icons</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://themes.getbootstrap.com/">Themes</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://blog.getbootstrap.com/">Blog</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://cottonbureau.com/people/bootstrap">Swag Store</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Guides</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/docs/5.3/getting-started/">Getting started</a>
                    </li>
                    <li class="mb-2">
                        <a href="/docs/5.3/examples/starter-template/">Starter template</a>
                    </li>
                    <li class="mb-2">
                        <a href="/docs/5.3/getting-started/webpack/">Webpack</a>
                    </li>
                    <li class="mb-2">
                        <a href="/docs/5.3/getting-started/parcel/">Parcel</a>
                    </li>
                    <li class="mb-2">
                        <a href="/docs/5.3/getting-started/vite/">Vite</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Projects</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="https://github.com/twbs/bootstrap">Bootstrap 5</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/twbs/bootstrap/tree/v4-dev">Bootstrap 4</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/twbs/icons">Icons</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/twbs/rfs">RFS</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/twbs/bootstrap-npm-starter">npm starter</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Community</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="https://github.com/twbs/bootstrap/issues">Issues</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/twbs/bootstrap/discussions">Discussions</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/sponsors/twbs">Corporate sponsors</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://opencollective.com/bootstrap">Open Collective</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://stackoverflow.com/questions/tagged/bootstrap-5">Stack Overflow</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>


  <script src="../static/js/docs.js"></script>

</body>

</html>