{% extends 'celik/base.html' %}
{% load static %}

{% block title %}Tete :: Pickles - Red Onion {% endblock %}

{% block hero %}
<div class="px-4 py-5 mb-5 text-center">
    <h1 class="display-5 fw-bold text-theme">Red Onion Pickle</h1>
    <img src="{% static 'images/category/pickles/red-onion-removebg.png' %}" class="img-fluid mt-3 mx-auto rounded" alt="tete">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-start">
            Want to jazz up your next salad or bowl? Add pickled red onions! Tangy & sweet, they're the best way to give
            almost any dish a bright pop of flavor!
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<h3 class="fw-semibold">Pickled red onions</h3>
<p class="pe-lg-5">
    Pickled red onions have been an indispensable ingredient in my kitchen for years. Not only are they a gorgeous,
    vibrant pink, but they’re tangy, sweet, and a little crunchy. I like to say that they give sandwiches, salads,
    bowls, and more a “bright pop of flavor,” and though Jack makes fun of me for how often I use that phrase, I can’t
    think of a better way to describe them.
</p>
<p>Try making a batch of quick pickled red onions, and you’ll see what I mean. Top a few onto an otherwise good sandwich
    or salad, and it’ll become great. Their vinegary, zippy taste adds an irresistible extra dimension of flavor,
    brightening and sharpening the other elements of the dish. You only need a few minutes and 5 ingredients to make
    this pickled onion recipe, so give them a try – you’ll add them to everything!</p>
<div class="row">

    <div class="col-md-5 mb-4">
        <div class="card border-secondary mb-3" style="background-image: url('../../static/assets/images/bg/onion.jpg'); 
        background-repeat: no-repeat;
        background-position-x: 90%; 
        background-position-y: 20%; 
        background-size: 284px 177px;" >
            <div class="card-body">
                <h5 class="card-title">Состојки</h5>
                <ul>
                    <li>2 small red onions</li>
                    <li>2 cups white vinegar</li>
                    <li>2 cups water</li>
                    <li>1/3 cup cane sugar</li>
                    <li>2 tablespoons sea salt</li>
                </ul>
                <p>optional</p>
                <ul>
                    <li>2 garlic cloves</li>
                    <li>1 teaspoon mixed peppercorns</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-7 mb-4">
        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h5 class="card-title">Припрема</h5>
                <p class="card-text">Thinly slice the onions (it's helpful to use a mandoline), and divide the onions between 2 (16-ounce) jars or 3 (10-ounce) jars.</p>
                <p class="card-text">Place the garlic and peppercorns in each jar, if using.</p>
                <p class="card-text">Heat the vinegar, water, sugar, and salt in a medium saucepan over medium heat. Stir until the sugar and salt dissolve, about 1 minute. Let cool and pour over the onions.</p>
                <p class="card-text">Set aside to cool to room temperature, then store the onions in the fridge.</p>
                <p class="card-text">Your pickled onions will be ready to eat once they're bright pink and tender - about 1 hour for very thinly sliced onions, or overnight for thicker sliced onions. They will keep in the fridge for up to 2 weeks.</p> 
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block aside %}
<h3 class="fw-semibold">Similar Pikles</h3>
{% endblock %}